/* GENERAL */

/* colors */
:root {
  --secondaryTextColor: #868a8a;
  --primaryTextColor: #2e3333;
  --lightgray: #e9ebeb;
  --primaryColor: #00cdbd;
  --secondaryColor: #ff8000;
  --disabledColor: #bac3c3;
  --disabledFont: #94a2a3;
}
.gray {
  color: var(--secondaryTextColor);
}
.header,
.meal__card,
.main__cart {
  background-color: #fff;
}
.btn--cart {
  background-color: var(--primaryColor);
}
.disabled {
  background-color: var(--disabledColor);
}
.handleQuantity {
  color: var(--primaryColor);
}
.main__cart,
.cart--line {
  color: var(--primaryTextColor);
}
.quantity,
.empty {
  color: var(--secondaryTextColor);
}
.btn--cart {
  color: #fff;
}
.disabled {
  color: var(--disabledFont);
}
.popular {
  color: var(--secondaryColor);
}
.header__top,
.meallist,
.subtotal {
  border-bottom: 1px solid var(--lightgray);
}
.btn--cart:hover,
.handleQuantity:hover {
  cursor: pointer;
}
.disabled:hover {
  cursor: not-allowed;
}

/* placement */
img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.header__bottom img,
.meal__card,
.btn--cart,
.main__cart,
.meal__img {
  border-radius: 5px;
}

/* -------------------------- */
/* SPECIFIC */

/* All media queries */
.app {
  overflow-x: hidden;
}
/* Header */
.header__top {
  padding: 18px 25px;
  display: flex;
}
.header__top img {
  width: 155px;
  object-fit: contain;
}

/* ##Device = Tablets, Ipads, Laptops, Desktops */
@media (min-width: 1024px) {
  /* Font sizes and weights */
  h1 {
    font-size: 2rem;
  }
  h3 {
    font-weight: 400;
  }
  .header__bottom--left p {
    font-size: 1.2em;
  }
  .meal__left p {
    font-size: 0.9rem;
  }
  .meal--infos {
    font-size: 1.1rem;
  }
  .popular,
  .handleQuantity {
    font-size: 0.8rem;
    font-weight: 800;
  }
  .total--line {
    font-weight: 600;
    font-size: 1.2rem;
  }
  .btn--cart {
    font-weight: 700;
    font-size: 1rem;
  }
  /* general */
  .container {
    padding: 0 25px;
  }
  /* Header */
  .header__bottom {
    display: flex;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
  }
  .header__bottom--left {
    margin-right: 30px;
  }
  h1 {
    margin-bottom: 2rem;
  }
  .header__bottom--left p {
    line-height: 1.5em;
  }
  .header__bottom img {
    width: 350px;
  }

  /* Main */
  .main {
    margin: 0 auto;
    width: 96vw;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .main__categories {
    flex: 1 1;
    margin-right: 20px;
  }
  /* Cart for phone */
  .cart__phone {
    display: none;
  }
  /* Category component */
  h2 {
    margin: 20px 0;
  }
  .category__meals {
    box-sizing: content-box;
    display: flex;
    flex-wrap: wrap;
  }
  /* Meal component */
  .meal {
    width: 49%;
    min-width: 300px;
    padding: 10px 0;
  }
  .meal__card {
    min-height: 150px;
    margin: 0 5px;
    padding: 12px 9px;
    display: flex;
    cursor: pointer;
    transition-duration: 0.3s;
  }
  .meal__left {
    flex: 1 1;
    margin-right: 15px;
  }
  h3 {
    margin: 0 0 0.5rem;
  }
  .meal__left p {
    line-height: 1.3rem;
    height: 2.6rem;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 0 1rem;
  }
  .meal__img {
    height: 130px;
    width: 130px;
    overflow: hidden;
  }
  .meal--infos {
    display: flex;
    align-items: center;
  }
  .popular {
    margin-left: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  /* cart */
  .main__cart {
    position: sticky;
    top: 0;
    width: 350px;
    max-height: 100vh;
    box-shadow: 0 22px 24px 0 rgba(46, 51, 51, 0.07);
    margin: 30px 0;
    padding: 8px;
  }
  .btn--cart {
    width: 100%;
    padding: 1rem;
    border: none;
  }
  .meallist {
    margin: 0 10px;
    overflow-y: scroll;
  }

  .subtotal--line,
  .total--line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 16px 0;
  }

  /* Empty cart */
  .empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .empty p {
    padding: 3rem 0;
  }

  /* CartLine component */
  .cart--line {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 16px 0;
  }
  .cart--quantity {
    display: flex;
  }
  .cart--title {
    flex: 1 1;
  }
  .handleQuantity {
    border: 1px solid var(--primaryColor);
    border-radius: 50%;
    padding: 1px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .quantity {
    text-align: center;
    margin: 0 4px;
  }
}

@media (max-width: 1023px) {
  /* Header */
  .header__bottom {
    display: flex;
    flex-direction: column-reverse;
  }
  .header__bottom--left {
    padding: 30px;
  }
  h1 {
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }
  .header__bottom--left p {
    line-height: 1.5em;
    margin-bottom: 12px;
  }
  .header__bottom img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 0;
  }

  /* Main */
  .main {
    margin: 0 auto;
    padding: 30px;
  }
  .no-phone {
    display: none;
  }
  .main__categories {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Category component */
  h2 {
    margin-bottom: 15px;
  }
  .category__meals {
    margin-bottom: 23px;
  }

  /* Meal component */
  .meal {
    width: 100%;
    padding: 10px 0;
  }
  .meal__card {
    min-height: 140px;
    padding: 10px 9px;
    display: flex;
    cursor: pointer;
    transition-duration: 0.3s;
  }
  .meal__left {
    flex: 1 1;
    margin-right: 15px;
  }
  h3 {
    margin: 0 0 0.5rem;
    font-weight: 400;
  }
  .meal__left p {
    line-height: 1.3rem;
    height: 2.6rem;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 0 1rem;
  }
  .meal__img {
    height: 130px;
    width: 130px;
    overflow: hidden;
  }
  .meal--infos {
    display: flex;
    align-items: center;
  }
  .popular {
    margin-left: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  /* Cart modal */
  .hide {
    display: none;
  }
  .show {
    display: block;
  }
  .btn__phone--cart {
    background-color: (var(--primaryColor));
    /* color: var(--lightgray); */
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 800;
  }
}
